<section class="flex flex-col items-center gap-6">
  <section class="join">
    @let modes =
      [{
        label: "Tomato", millis: 1500000
      },
      {
        label: "Short pause", millis: 300000
      },
      {
        label: "Long pause", millis: 900000
      }];
    @for(obj of modes; track $index){
      <button class="btn join-item btn-secondary font-bold hover:text-accent-content active:text-accent-content w-[120px]"
              (click)="setTimer(obj.millis, true)">
        {{ obj.label }}
      </button>
    }
  </section>
  <h2 class="text-5xl font-bold text-info-content h-[50px]">
    {{ timer | async | date: "mm:ss" }}
  </h2>
  <button class="btn btn-wide btn-outline border-2 border-primary hover:bg-primary hover:text-primary-content font-bold"
          (click)="timerToggle()">
    {{ labelStatus }}
  </button>
</section>
